<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eyecreate.miceandmystics.miceandmystics" >

    <application
        android:name=".MiceAndMysticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CampaignActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CampaignDetailsActivity"
            android:label="@string/title_activity_campaign_details"
            android:parentActivityName=".CampaignActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eyecreate.miceandmystics.miceandmystics.CampaignActivity" />
        </activity>
        <activity
                android:name=".PlayerManagerActivity">
        </activity>
    </application>

</manifest>
